<div class="top_panel">
  <div class="container">
    <div class="top">
      <div class="lang">
        <div class="btn-round" data-title="Polski">
          <div class="inside pl" (click)="switchLanguage('pl')"></div>
        </div>
        <div class="btn-round" data-title="English">
          <div class="inside uk" (click)="switchLanguage('en')"></div>
        </div>
        <div class="btn-round" data-title="Mexicano">
          <div class="inside mex"></div>
        </div>
      </div>
      <div class="social">
        <div class="btn-round" data-title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="btn-round" data-title="YouTube">
          <i class="fab fa-youtube"></i>
        </div>
        <div class="btn-round" data-title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
</div>
