<div class="top_panel">
  <div class="container">
    <div class="top">
      <div class="lang" [@showTopNav]="'final'" style="opacity: 0; margin-top: -35px">
        <div class="btn-round" data-title="Polski">
          <div class="inside pl" (click)="switchLanguage('pl')"></div>
        </div>
        <div class="btn-round" data-title="English">
          <div class="inside uk" (click)="switchLanguage('en')"></div>
        </div>
        <!-- <div class="btn-round" data-title="Mexicano">
          <div class="inside mex"></div>
        </div> -->
      </div>
      <div class="social" [@showTopNav]="'final'" style="opacity: 0; margin-top: -35px">
        <a href="https://www.facebook.com/DendroPoland/" class="btn-round" data-title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCnC2w-VSnanYrEfseKEozGw" class="btn-round" data-title="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/company/dendro-poland/" class="btn-round" data-title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</div>
