<div class="content">
  <div class="section_gray image" [@showQuotationSection]="'final'" style="opacity: 0">
    <div class="quotation" [@showQuotation]="'final'" style="opacity: 0">
      <div class="content">
        <div class="title">
          {{ 'wac_general.quotation.title' | translate }}
        </div>
        <div class="description">
            {{ 'wac_general.quotation.content' | translate }}
        </div>
      </div>
    </div>
  </div>

  <!-- Wartości -->
  <div class="section_white" [@showSection]="'final'" style="opacity: 0">
    <div class="box">
      <div class="left">
        <div class="header">
          {{ 'wac_general.values.title' | translate }}
        </div>
        <div class="description">
          <p class="title title_first">
            {{ 'wac_general.values.header1' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content1_1' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content1_2' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content1_3' | translate }}
          </p>
          <p class="title">
            {{ 'wac_general.values.header2' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content2_1' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content2_2' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content2_3' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content2_4' | translate }}
          </p>
          <p class="title">
            {{ 'wac_general.values.header3' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content3_1' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content3_2' | translate }}
          </p>
          <p>
            {{ 'wac_general.values.content3_3' | translate }}
          </p>
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/wartosci.png" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray" [@showSection]="'final'" style="opacity: 0">
    <div class="box">
      <div class="left">
        <img src="../../../assets/hands.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          {{ 'wac_general.work.title' | translate }}
        </div>
        <div class="description">
          <p>
            {{ 'wac_general.work.content1' | translate }}
          </p>
          <p>
            {{ 'wac_general.work.content2' | translate }}
          </p>
          <p>
            {{ 'wac_general.work.content3' | translate }}
          </p>
          <p>
            {{ 'wac_general.work.content4' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section_white" [@showSection]="'final'" style="opacity: 0">
    <div class="box">
      <div class="left">
        <div class="header">
          <div class="header">
            {{ 'wac_general.manage.title' | translate }}
          </div>
        </div>
        <div class="description">
          <p>
            {{ 'wac_general.manage.content1' | translate }}
          </p>
          <p>
            {{ 'wac_general.manage.content2' | translate }}
          </p>
          <p>
            {{ 'wac_general.manage.content3' | translate }}
          </p>
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/building-plans.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray" [@showSection]="'final'" style="opacity: 0">
    <div class="box">
      <div class="left">
        <img src="../../../assets/bikeride.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          {{ 'wac_general.grow.title' | translate }}
        </div>
        <div class="description">
          <p>
            {{ 'wac_general.grow.content1' | translate }}
          </p>
          <p>
            {{ 'wac_general.grow.content2' | translate }}
          </p>
          <!-- <a class="btn" href="/career/offers">
            {{ 'wac_general.grow.button' | translate }}
            <i class="fas fa-chevron-right"></i>
          </a> -->

          <a class="btn" href="/career/offers">
            <div class="text">
              {{ 'meetPage.​​employees_idee.button' | translate }}
            </div>
            <div class="icon">
              <i class="fas fa-angle-right"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section_white" [@showSection]="'final'" style="opacity: 0">
    <div class="box">
      <div class="left">
        <div class="header">
          {{ 'wac_general.count.title' | translate }}
        </div>
        <div class="description">
          <ul>
            <li>{{ 'wac_general.count.list1' | translate }}</li>
            <li>{{ 'wac_general.count.list2' | translate }}</li>
            <li>{{ 'wac_general.count.list3' | translate }}</li>
            <li>{{ 'wac_general.count.list4' | translate }}</li>
            <li>{{ 'wac_general.count.list5' | translate }}</li>
            <li>{{ 'wac_general.count.list6' | translate }}</li>
          </ul>
          <br>
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/simplicity.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
