<div class="content">
    <!-- Grafika -->
    <div class="section section_image" [@showQuotationSection]="'final'" style="opacity: 0">
    </div>

    <div class="section section_white" [@showSection]="'final'" style="opacity: 0">
        <div class="box">
            <!-- <div class="header">
                {{ 'navigation.regulations' | translate }}
            </div> -->
            <div class="description">
                <div>
                    <div>
                        <img src="../../../assets/regulations/iiLogo1.png">
                    </div>
                    <div style="margin-top: 10px;">
                        <div>Ikano Industry Sp. z o.o.</div>
                        <div>ul. Magazynowa 4</div>
                        <div>64-610 Rogoźno</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_gray" [@showSection]="'final'" style="opacity: 0">
        <div class="box">
            <div class="header">
                ISO 28000
            </div>
            <div class="description">
                <div>
                    <div>
                        <img src="../../../assets/regulations/iso28.jpg" style="width: 300px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_white" [@showSection]="'final'" style="opacity: 0">
        <div class="box">
            <div class="header">
                SAP Grand Winner
            </div>
            <div class="description">
                <div>
                    <div>
                        <img src="../../../assets/sap2021.jpg" style="width: 300px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_gray" [@showSection]="'final'" style="opacity: 0">
        <div class="box">
            <div class="header">
                {{ 'navigation.regulations' | translate }}
            </div>
            <div class="description">
                <div>
                    <div>
                        <div>KRS: 0000131643, NIP: 766-000-56-97, BDO 000020081</div>
                        <div>NIP UE: PL 7660005697, REGON: 570062005</div>
                        <div>Sąd Rejonowy Poznań - Nowe Miasto i Wilda w Poznaniu,</div>
                        <div>IX Wydział Gospodarczy Krajowego Rejestru Sądowego</div>
                        <div>Kapitał zakładowy: 36 885 707,50 PLN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_white" [@showSection]="'final'" style="opacity: 0">
        <div class="box">
            <div class="header">
                {{ 'regulations.personal_data' | translate }}
            </div>
            <div class="description">
                <div>
                    <div>
                        <div>Jeśli prowadzisz korespondencję emailową z Iknano Industry, jesteśmy administratorem Twoich danych osobowych i zgodnie z prawem jesteśmy
                            zobowiązani dostarczyć Ci informacje, o tym, dlaczego i w jaki sposób wykorzystujemy Twoje dane oraz o prawach jakie Ci w związku z tym przysługują.</div>
                        <div>Szczegółowe informacje na ten temat znajdziesz pod adresem:</div>
                        <div><a class="link" href="https://ikanoindustry.pl/information_clause">https://ikanoindustry.pl/information_clause</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_gray" [@showSection]="'final'" style="opacity: 0">
        <div class="box">
            <div class="header">
                {{ 'regulations.attention' | translate }}
            </div>
            <div class="description">
                <div>
                    <div style="display: flex">
                        <div><img src="../../../assets/regulations/shoe1.png"></div>
                        <div style="margin: auto 0px auto 20px; max-width: 612px; color: #f0811a;">Jeśli zamierzasz odwiedzić naszą firmę, informujemy, że wszystkich przebywających na terenie hal produkcyjnych Ikano Industry
                            obowiązuje nakaz używania obuwia ochronnego</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stopka -->
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>