<div class="content">
  <!-- Grafika -->
  <div class="section section_image">
    <div class="quotation" [@showQuotation]="'final'" style="opacity: 0">
      <div class="content">
        <div class="title">
          {{ 'wac_offers.quotation.title' | translate }}
        </div>
        <div class="description">
          {{ 'wac_offers.quotation.content' | translate }}
        </div>
      </div>
    </div>
  </div>

  <!-- Oferty -->
  <div class="section section_white">
    <div class="box">
      <div class="header">
        {{ 'wac_offers.content.title' | translate }}
      </div>
      <div class="description">

        <!-- <div class="offer_content" *ngFor="let item of jobOffers">
          <div class="offer_text">
            {{item.title}}
          </div>
          <div class="buttons">
            <a class="btn"
              href="{{item.linkToTheForm}}">
              <div class="text">
                {{ 'wac_offers.content.button1' | translate }}
              </div>
              <div class="icon">
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
            <a class="btn"
              href="http://iiwapi.damianruta.pl/api/joboffers/GetOfferFile?offerId={{item.id}}">
              <div class="text">
                {{ 'wac_offers.content.button2' | translate }}
              </div>
              <div class="icon">
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </div>
        </div> -->

        <div *ngIf="jobOffersFromPhp.length > 0" style="display: contents;">
          <div class="offer_content" *ngFor="let item of jobOffersFromPhp">
            <div class="offer_text">
              {{item.Title}}
            </div>
            <div class="buttons">
              <a class="btn"
                href="{{item.LinkToTheForm}}">
                <div class="text">
                  {{ 'wac_offers.content.button1' | translate }}
                </div>
                <div class="icon">
                  <i class="fas fa-angle-right"></i>
                </div>
              </a>
              <a class="btn"
                href="https://ikanoindustry.pl/offersapi/offerfile.php?oferta={{item.Id}}">
                <div class="text">
                  {{ 'wac_offers.content.button2' | translate }}
                </div>
                <div class="icon">
                  <i class="fas fa-angle-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="jobOffersFromPhp.length <= 0" style="display: contents;">
          <span>
            Aktualnie brak ofert
          </span>
        </div>


      </div>
    </div>
  </div>




  <!-- Stopka -->
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
