$background_light: rgb(255, 255, 255);
$background_gray: rgb(248, 247, 246);
$background_dark: rgb(34, 34, 34);

$color_normal: #333333;
$color_light: #777777;

$line_red_normal: rgb(236, 0, 0);
$line_red_light: rgb(236, 156, 156);

$header_height_min: 125px;
$footer_height_min: 340px;

$shadow:  0px 0px 3px 1px rgba(0,0,0,0.1);
