<div class="content">
  <div class="section_gray image">
    <div class="quotation">
      <div class="content">
        <div class="title">
          {{ 'meetPage.quotation.title' | translate }}
        </div>
        <div class="description">
            {{ 'meetPage.quotation.content' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          {{ 'meetPage.modern_factory.title' | translate }}
        </div>
        <div class="description">
          <p>
            {{ 'meetPage.modern_factory.content1' | translate }}
          </p>
          <p>
            {{ 'meetPage.modern_factory.content2' | translate }}
          </p>
          <p>
            {{ 'meetPage.modern_factory.content3' | translate }}
          </p>
          <p>
            {{ 'meetPage.modern_factory.content4' | translate }}
          </p>
          <p>
            {{ 'meetPage.modern_factory.content5' | translate }}
          </p>
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/z_lotu_ptaka.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray">
    <div class="box">
      <div class="left">
        <img src="../../../assets/wartosci.png" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          {{ 'meetPage.our_values.title' | translate }}
        </div>
        <div class="description">
          <p>
            {{ 'meetPage.our_values.content1' | translate }}
          </p>
          <p>
            {{ 'meetPage.our_values.content2' | translate }}
            <b>{{ 'meetPage.our_values.content3' | translate }}</b>
            {{ 'meetPage.our_values.content4' | translate }}
            <b>{{ 'meetPage.our_values.content5' | translate }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          <div class="header">
            {{ 'meetPage.​​employees_idee.title' | translate }}
          </div>
        </div>
        <div class="description">
          <p>
            {{ 'meetPage.​​employees_idee.content' | translate }}
          </p>
          <!-- <a class="btn" href="/career/offers">
            {{ 'meetPage.​​employees_idee.button' | translate }}
            <i class="fas fa-chevron-right"></i>
          </a> -->

          <a class="btn" href="/career/offers">
            <div class="text">
              {{ 'meetPage.​​employees_idee.button' | translate }}
            </div>
            <div class="icon">
              <i class="fas fa-angle-right"></i>
            </div>
          </a>

        </div>
      </div>
      <div class="right">
        <img src="../../../assets/idea_naszych_pracownikow.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray">
    <div class="box">
      <div class="left">
        <img src="../../../assets/bloki_dlugie.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          {{ 'meetPage.sustainable.title' | translate }}
        </div>
        <div class="description">
          <p>
            {{ 'meetPage.sustainable.content1' | translate }}
          </p>
          <p style="font-weight: bold;">
            {{ 'meetPage.sustainable.content2' | translate }}
          </p>
          <p>
            {{ 'meetPage.sustainable.content3' | translate }}
          </p>
          <p>
            {{ 'meetPage.sustainable.content4' | translate }}
          </p>
          <p>
            {{ 'meetPage.sustainable.content5' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          {{ 'meetPage.in_brief.title' | translate }}
        </div>
        <div class="description">
          <ul>
            <li>{{ 'meetPage.in_brief.list1' | translate }}</li>
            <li>{{ 'meetPage.in_brief.list2' | translate }}</li>
            <li>{{ 'meetPage.in_brief.list3' | translate }}</li>
            <li>{{ 'meetPage.in_brief.list4' | translate }}</li>
            <li>{{ 'meetPage.in_brief.list5' | translate }}</li>
            <li>{{ 'meetPage.in_brief.list6' | translate }}</li>
          </ul>
          <br>
          <!-- <a class="link" href="http://group.ikano">http://group.ikano</a> -->

          <a class="btn" href="http://group.ikano">
            <div class="text">
              Ikano Group
            </div>
            <div class="icon">
              <i class="fas fa-angle-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/ikano_world.png" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>

  <cookie-law class="cookieLaw" name="ng4topCookieLaw" expiration="1">
    <div class="clComponent">
        {{ 'cookieLaw.line1' | translate }}
      <a routerLink="/information_clause" routerLinkActive="active">
          {{ 'cookieLaw.line2' | translate }}
        </a>
    </div>
    </cookie-law>

</div>
