<div class="content">
  <div class="section_gray image">
    <div class="quotation">
      <div class="content">
        <div class="title">
          {{ 'meetPage.quotation.title' | translate }}
        </div>
        <div class="description">
            {{ 'meetPage.quotation.content' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          Jesteśmy jedną z największych i najnowocześniejszych fabryk produkujących materace w Europie
        </div>
        <div class="description">
          Jesteśmy częścią międzynarodowej grupy kapitałowej. Swoją działalność rozpoczęliśmy w 1992 roku, a od roku
          2009 zajmujemy się produkcją materaców od pierwszego etapu - produkcji pianki poliuretanowej poprzez wycinanie
          materaców, szycie pokrowców, aż do wysłania gotowego produktu do klienta.
          <br><br>
          Naszym głównym klientem jest międzynarodowa sieć sklepów IKEA.
          <br><br>
          W codziennej pracy nieustannie dążymy do wprowadzania innowacji oraz optymalizacji procesów, aby tworzyć
          produkty najwyższej jakości. Korzystamy z najnowszych technologii i rozwijamy naszą gamę produktów, pracując,
          tak, aby przekraczać oczekiwania naszych klientów.
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/z_lotu_ptaka.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray">
    <div class="box">
      <div class="left">
        <img src="../../../assets/wartosci.png" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          Nasze wartości i obietnica
        </div>
        <div class="description">
          Zależy nam na tym, aby klienci, partnerzy i współpracownicy wybierali nas na ze względu na wartości, którymi
          kierujemy się w codziennej pracy.
          <br><br>
          Pozostajemy wierni trzem głównym zasadom: współpracy, zdrowemu rozsądkowi
          i prostocie oraz odwadze bycia innym, które wspierają realizację naszej obietnicy - na uczciwych zasadach.
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          Idea naszych pracowników
        </div>
        <div class="description">
          Wspólnie tworzymy wyjątkowe miejsce pracy, w którym otwarci i entuzjastyczni ludzie współpracują ze sobą na
          uczciwych zasadach przyczyniając się tym samym do rozwoju całej firmy.
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/idea_naszych_pracownikow.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray">
    <div class="box">
      <div class="left">
        <img src="../../../assets/bloki_dlugie.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          Zrównoważony rozwój
        </div>
        <div class="description">
          Zależy nam na dostarczaniu produktów najwyższej jakości, dlatego w codziennej pracy korzystamy z
          najnowocześniejszych technologii i nieustannie doskonalimy procesy produkcyjne.
          <br><br>
          <b>Obecnie stoimy przed wielkim wyzwaniem.</b>
          <br><br>
          W ramach długoterminowej strategii zobowiązaliśmy się integrować zrównoważony rozwój we wszystkim, co robimy.
          Oznacza to, że nasza obietnica, na uczciwych zasadach, musi zostać rozszerzona poza relacje z klientami i
          dostawcami. Musimy się upewnić, że to, co robimy, jest również uczciwe wobec społeczeństwa i planety, na
          której żyjemy.
          <br><br>
          Jesteśmy jedyną fabryka na świecie posiadającą instalację do chemicznego recyklingu elastycznej pianki PUR. W
          wyniku tego procesu otrzymywany jest repoliol, wykorzystywany następnie do produkcji elastycznej pianki.
          <br><br>
          Dysponujemy także własnym ośrodkiem badawczym, w którym poszukujemy nowych sposobów wydajnego recyclingu
          odpadów z naszej produkcji oraz, być może, w przyszłości, zużytych materaców odebranych klientów IKEA.
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          Ikano w skrócie
        </div>
        <div class="description">
          <ul>
            <li>Międzynarodowa grupa firm obecna w 15 krajach w Europie i Azji Południowo-Wschodniej</li>
            <li>Ponad 4600 współpracowników</li>
            <li>Aktywna w obszarze finansów, ubezpieczeń, produkcji, nieruchomości i handlu detalicznego</li>
            <li>Początkowo część IKEA, ale stała się niezależną grupą firm w 1988 roku</li>
            <li>Jest własnością rodziny Kamprad</li>
            <li>Głowna siedziba w Luksemburgu</li>
          </ul>
          <br>
          http://group.ikano
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/ikano_world.png" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
