<div class="content">
  <div class="section_gray image">
    <div class="quotation">
      <div class="content">
        <div class="title">
            Nasza wizja
        </div>
        <div class="description">
            Tworzyć możliwości lepszego życia
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          Jesteśmy jedną z największych i najnowocześniejszych fabryk produkujących materace w Europie
        </div>
        <div class="description">
          Jesteśmy częścią międzynarodowej grupy kapitałowej. Swoją działalność rozpoczęliśmy w 1992 roku, a od roku
          2009 zajmujemy się produkcją materaców od pierwszego etapu - produkcji pianki poliuretanowej poprzez wycinanie
          materaców, szycie pokrowców, aż do wysłania gotowego produktu do klienta.
          <br><br>
          Naszym głównym klientem jest międzynarodowa sieć sklepów IKEA.
          <br><br>
          W codziennej pracy nieustannie dążymy do wprowadzania innowacji oraz optymalizacji procesów, aby tworzyć
          produkty najwyższej jakości. Korzystamy z najnowszych technologii i rozwijamy naszą gamę produktów, pracując,
          tak, aby przekraczać oczekiwania naszych klientów.
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/z_lotu_ptaka.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray">
    <div class="box">
      <div class="left">
        <img src="../../../assets/z_lotu_ptaka.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          Jesteśmy jedną z największych i najnowocześniejszych fabryk produkujących materace w Europie
        </div>
        <div class="description">
          Jesteśmy częścią międzynarodowej grupy kapitałowej. Swoją działalność rozpoczęliśmy w 1992 roku, a od roku
          2009 zajmujemy się produkcją materaców od pierwszego etapu - produkcji pianki poliuretanowej poprzez wycinanie
          materaców, szycie pokrowców, aż do wysłania gotowego produktu do klienta.
          <br><br>
          Naszym głównym klientem jest międzynarodowa sieć sklepów IKEA.
          <br><br>
          W codziennej pracy nieustannie dążymy do wprowadzania innowacji oraz optymalizacji procesów, aby tworzyć
          produkty najwyższej jakości. Korzystamy z najnowszych technologii i rozwijamy naszą gamę produktów, pracując,
          tak, aby przekraczać oczekiwania naszych klientów.
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          Jesteśmy jedną z największych i najnowocześniejszych fabryk produkujących materace w Europie
        </div>
        <div class="description">
          Jesteśmy częścią międzynarodowej grupy kapitałowej. Swoją działalność rozpoczęliśmy w 1992 roku, a od roku
          2009 zajmujemy się produkcją materaców od pierwszego etapu - produkcji pianki poliuretanowej poprzez wycinanie
          materaców, szycie pokrowców, aż do wysłania gotowego produktu do klienta.
          <br><br>
          Naszym głównym klientem jest międzynarodowa sieć sklepów IKEA.
          <br><br>
          W codziennej pracy nieustannie dążymy do wprowadzania innowacji oraz optymalizacji procesów, aby tworzyć
          produkty najwyższej jakości. Korzystamy z najnowszych technologii i rozwijamy naszą gamę produktów, pracując,
          tak, aby przekraczać oczekiwania naszych klientów.
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/z_lotu_ptaka.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="section_gray">
    <div class="box">
      <div class="left">
        <img src="../../../assets/z_lotu_ptaka.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
      <div class="right">
        <div class="header">
          Jesteśmy jedną z największych i najnowocześniejszych fabryk produkujących materace w Europie
        </div>
        <div class="description">
          Jesteśmy częścią międzynarodowej grupy kapitałowej. Swoją działalność rozpoczęliśmy w 1992 roku, a od roku
          2009 zajmujemy się produkcją materaców od pierwszego etapu - produkcji pianki poliuretanowej poprzez wycinanie
          materaców, szycie pokrowców, aż do wysłania gotowego produktu do klienta.
          <br><br>
          Naszym głównym klientem jest międzynarodowa sieć sklepów IKEA.
          <br><br>
          W codziennej pracy nieustannie dążymy do wprowadzania innowacji oraz optymalizacji procesów, aby tworzyć
          produkty najwyższej jakości. Korzystamy z najnowszych technologii i rozwijamy naszą gamę produktów, pracując,
          tak, aby przekraczać oczekiwania naszych klientów.
        </div>
      </div>
    </div>
  </div>

  <div class="section_white">
    <div class="box">
      <div class="left">
        <div class="header">
          Jesteśmy jedną z największych i najnowocześniejszych fabryk produkujących materace w Europie
        </div>
        <div class="description">
          Jesteśmy częścią międzynarodowej grupy kapitałowej. Swoją działalność rozpoczęliśmy w 1992 roku, a od roku
          2009 zajmujemy się produkcją materaców od pierwszego etapu - produkcji pianki poliuretanowej poprzez wycinanie
          materaców, szycie pokrowców, aż do wysłania gotowego produktu do klienta.
          <br><br>
          Naszym głównym klientem jest międzynarodowa sieć sklepów IKEA.
          <br><br>
          W codziennej pracy nieustannie dążymy do wprowadzania innowacji oraz optymalizacji procesów, aby tworzyć
          produkty najwyższej jakości. Korzystamy z najnowszych technologii i rozwijamy naszą gamę produktów, pracując,
          tak, aby przekraczać oczekiwania naszych klientów.
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/z_lotu_ptaka.jpg" alt="Ikano Industry z lotu ptaka">
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
