<div class="submenu">
  <ul>
    <li><a routerLink="./general" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Ogólne</a></li>
    <li><a routerLink="./offers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Oferty</a></li>
    <li><a routerLink="./command" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Program poleceń</a></li>
    <li><a href="../../../assets/files/PrzykladoweCV.pdf">Przykładowe CV</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
