<div class="navigation">
  <div class="container">
    <div class="top">
      <div class="lang">

      </div>
      <div class="social">
        <div class="btn-round">
          <i>fb</i>
        </div>
        <div class="btn-round">
          <i>yt</i>
        </div>
        <div class="btn-round">
          <i>li</i>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="logo">
        <img src="../../../assets/Logo180.png" alt="">
      </div>
      <div class="menu">
        <ul>
          <li><a routerLink="index" routerLinkActive="active">Poznajmy się</a></li>
          <li><a routerLink="career" routerLinkActive="active">Praca i kariera</a></li>
          <li><a routerLink="information_clause" routerLinkActive="active">Klauzula informacyjna</a></li>
        </ul>
      </div>
    </div>


  </div>
</div>
