<div class="navigation">
  <div class="container">
    <div class="bottom">
      <div class="logo" [@showLogo]="'final'" style="opacity: 0; margin-left: -130px">
        <a routerLink="/index" routerLinkActive="active"><img src="../../../assets/Logo180.png" alt="Ikano Industry"></a>
      </div>
      <div class="menu" [@showMenu]="'final'" style="opacity: 0; margin-bottom: -75px">
        <ul>
          <li><a routerLink="/index" routerLinkActive="active">{{ 'navigation.meet' | translate}}</a></li>
          <li><a routerLink="/career" routerLinkActive="active">{{ 'navigation.career' | translate}}</a></li>
          <li><a routerLink="/information_clause" routerLinkActive="active">{{ 'navigation.information_clausule' | translate}}</a></li>
          <li><a routerLink="/regulations" routerLinkActive="active">{{ 'navigation.regulations' | translate}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
