@import "../../scss/variables.scss";
@import "../../scss/button_round.scss";

.inside {
  // background: blueviolet;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;

  &.pl {
    background: url("../../../assets/pl_flag.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &.uk {
    background: url("../../../assets/uk_flag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &.mex {
    background: url("../../../assets/mex_flag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;

  background: white;
  min-height: $header_height_min;
  width: 100%;
  box-shadow: $shadow;

  .container {
    display: flex;
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    .top {
      display: flex;
      flex-direction: row;
      height: 65px;

      .lang {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin-top: 10px;
      }

      .social {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
      }
    }

    .bottom {
      position: relative;
      display: flex;
      flex-direction: row;

      .logo {
        display: flex;
        align-items: center;
        margin: 10px 0px;

        img {
          width: auto;
          height: 40px;
        }
      }

      .menu {
        display: flex;
        flex: 1;
        justify-content: left;
        align-items: center;
        margin-left: 20px;

        ul {
          margin: 0;
          padding: 0;
          // margin-bottom: 30px;

          li {
            display: inline-block;
            margin: 0 12px;

            a {
              color: $color_light;
              text-decoration: none;
              position: relative;
              padding: 4px 0px;
              cursor: pointer;
              font-size: 16px;
              font-weight: 700;
              transition: color 0.3s;

              &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                bottom: 0px;
                left: 0px;
                background: transparent;
                transition: background 0.3s;
              }

              &:hover {
                &::before {
                  background: $line_red_light;
                }
              }

              &.active {
                color: $color_normal;

                &::before {
                  background: $line_red_normal;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
