<div class="navigation">
  <div class="container">
    <div class="bottom">
      <div class="logo">
        <img src="../../../assets/Logo180.png" alt="">
      </div>
      <div class="menu">
        <ul>
          <li><a routerLink="index" routerLinkActive="active">Poznajmy się</a></li>
          <li><a routerLink="career" routerLinkActive="active">Praca i kariera</a></li>
          <li><a routerLink="information_clause" routerLinkActive="active">Klauzula informacyjna</a></li>
        </ul>
      </div>
    </div>


  </div>
</div>
