<div class="footer">
  <div class="box">
    <div class="content">
      <div class="col">
        <div class="header">Kontakt</div>
        <div class="row header">
          Rogoźno
        </div>
        <div class="row">
            <i class="fas fa-map-marker-alt"></i> ul. Magazynowa 4, 64-610 Rogoźno, Polska
        </div>
        <div class="row">
            <i class="fas fa-phone"></i> (+48) 67 35 25 400
        </div>
        <div class="row">
            <i class="fas fa-envelope"></i> recepcja@ikanoindustry.pl
        </div>
        <div class="row header">
          Krajenka
        </div>
        <div class="row">
            <i class="fas fa-map-marker-alt"></i> ul. Władysława Jagiełły 19, 77-430 Krajenka, Polska
        </div>
        <div class="row">
            <i class="fas fa-phone"></i> (+48) 67 35 25 403
        </div>
        <div class="row">
            <i class="fas fa-envelope"></i> krajenka.recepcja@ikanoindustry.pl
        </div>

      </div>
      <div class="col">
        <div class="header">Inne</div>
        <div class="row">
          KRS: 0000131643, NIP: 766-000-56-97, BDO 000020081
        </div>
        <div class="row">
          NIP UE: PL 7660005697, REGON: 570062005
        </div>
        <div class="row">
          Sąd Rejonowy Poznań - Nowe Miasto i Wilda w Poznaniu, IX Wydział Gospodarczy Krajowego Rejestru Sądowego
        </div>
        <div class="row">
          Kapitał zakładowy: 36 885 707,50 PLN
        </div>
      </div>
      <div class="col">
        <div class="header">Aktualności</div>

        <div class="fb-page" data-href="https://www.facebook.com/DendroPoland/" data-tabs="timeline" data-width="370"
          data-height="225" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
          data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/DendroPoland/" class="fb-xfbml-parse-ignore"><a
              href="https://www.facebook.com/DendroPoland/">Ikano Industry</a></blockquote>
        </div>

      </div>
    </div>
    <div class="auth">
      <span>Copyright © 2018 Wszystkie prawa zastrzeżone</span>
      <span class="separator">|</span>
      <span>Designed by Ikano Industry</span>
    </div>
  </div>
</div>


