@import "scss/variables.scss";

.container {
  display: flex;
  flex-direction: column;

  .top_panel {
    background: $background_light;
    z-index: 1;
  }

  .menu {
    position: sticky;
    top: 0;
    left: 0;
    background: $background_light;
    box-shadow: $shadow;
  }
  .content {
    flex: 1;
    background: $background_gray;
  }
  .footer {
    // background: $background_dark;
    min-height: $footer_height_min;
    // width: 100%;
  }
}
