@import 'app/scss/variables.scss';


body {
  font-family: "Ikano Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $color_normal;
    background: $background_gray;
    padding: 0;
    margin: 0;
}
